:root {
  --primary-background: #FFF5D1;
  --secondary-background: #FFE27C;
  --gradient-background: linear-gradient(252.16deg, #FFE27C 53.39%, #FFF5D1 54.96%);
  ;
  --primary-color: #62593C;
  --secondary-color: #A68100;
  --third-color: #FFF5D1;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: 'EB Garamond', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}